.descriptionbox{
    margin: 90px 120px;
}

.descriptionbox-navigator{
    display: flex;
}

.descriptionbox-nav-box{
    color: #ff4141;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    width: 125px;
    height: 55px;
    border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box.fade{
    background: #fbfbfb;
    color: #555;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 10px;
    border: 1px solid #d0d0d0;
    padding: 32px 21px;
    padding-bottom:40px;
}