.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 75%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.shopcategory-sort{
    padding: 5px 15px;
    border-radius: 40px;
    border: 1px solid #888;
    font-size: 13px;
    margin-right: 25px;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px auto;
    width: 160px;
    height: 45px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 15px;
    font-weight: 500;

}